* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.container-compras {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c4c2bf;
  min-height: 100vh;
}

.header-component-compras {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: #053114;
  position: fixed;
  z-index: 1000;
}


.logo-compras {
  height: 400px;
  max-width: 100%;
  padding-left: 11%;
}

.btnCadastro-compras, .btnLogar-compras {

  border: none;
  border-radius: 15px;
  background-color: #A8895B;
  padding: 10px 20px;
  color: #800020;
  cursor: pointer;
  margin: 0 10px;

}

.btnCadastro-compras:hover, .btnLogar-compras:hover {
  background-color: #C0A36E;
}

.btnCadastro-compras:hover, .btnLogar-compras:hover {
  background-color: #C0A36E;
}


.content-compras {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px 0;
  z-index: 500;
}

.produto-container-compras {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.produto-imagem-compras {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.produto-info-compras {
  margin-top: 20px;
}

.produto-info-compras h1 {
  font-size: 24px;
  color: #053114;
  margin-bottom: 10px;
}

.preco-compras {
  font-size: 20px;
  color: #800020;
  margin-bottom: 5px;
}

.preco-parcelado-compras {
  font-size: 16px;
  color: #A8895B;
  margin-bottom: 5px;
}

.frete-compras {
  font-size: 14px;
  color: #053114;
  margin-bottom: 20px;
}

.btnComprar-compras {
  border: none;
  border-radius: 15px;
  background-color: #007bff;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.btnComprar-compras:hover {
  background-color: #d3a123;
}


.footer-component-compras {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #053114;
  color: #A8895B;
  margin-top: auto;
}

@media (max-width: 480px) {
  .header-component-compras {
    height: 120px; 
  }

  .logo-compras {
    height: 200px; 
    position: relative;

  }

  .btnCadastro-compras, .btnLogar-compras {
    width: auto;
    padding: 8px 12px;
    font-size: 12px;
  }

  .produto-container-compras {
    width: 300px;
    padding: 10px;
  }

  .produto-info-compras h1 {
    font-size: 18px;
  }

  .preco-compras {
    font-size: 16px;
  }

  .preco-parcelado-compras {
    font-size: 14px;
  }

  .frete-compras {
    font-size: 12px;
  }

  .btnComprar-compras {
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .header-component-home-compras {
    height: 120px; 
  }

  .logo-compras {
    height: 200px;
    position: relative;
    padding-left: 5px
  }

  .btnCadastro-compras,.btnLogar-compras{
    display: grid;
    align-items: center;
    width: 50%;
    margin: 10px 0;
    font-size: 13px;
    padding: 8px;
  
  }
  .btnLogar-compras {
    display: grid;
    align-items: center;
    width: 50%;
    margin: 10px 0;
    font-size: 13px; 
    padding: 8px; 
  }

  .produto-info-compras h1 {
    font-size: 13px;
  }
  .produto-container-compras{
    height: 350px;
    width: 250px;
  }
  .preco-compras {
    font-size: 13px;
  }

  .preco-parcelado-compras {
    font-size: 12px;
  }

  .frete-compras {
    font-size: 12px;
  }

  .btnComprar-compras {
    padding: 8px 12px;
  }
}