* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/* CSS BOTAO DE + E - */
.quantity-block {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd; /* Ajuste a cor da borda conforme necessário */
  border-radius: 10px;
  overflow: hidden; /* Garante que o conteúdo não vaze para fora do contêiner */
  background-color: #f8f8f8; /* Fundo levemente acinzentado */
  width: fit-content;
}

.quantity-block input {
  width: 35px; /* Largura do campo de entrada */
  text-align: center; /* Centraliza o texto no campo de entrada */
  border: none; /* Remove a borda padrão do input */
  font-size: 16px;
  padding: 10px;
  background-color: #fff; /* Cor de fundo do input */
  color: #333; /* Cor do texto no input */
}

.quantity-block button {
  width: 30px; /* Largura dos botões */
  height: 30px; /* Altura dos botões */
  background-color: #ff6f61; /* Cor de fundo dos botões */
  color: #fff; /* Cor do texto dos botões */
  font-size: 18px; /* Tamanho da fonte dos botões */
  border: none; /* Remove a borda dos botões */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-block button:hover {
  background-color: #ff8a75; /* Cor de fundo ao passar o mouse */
}

.quantity-block button:active {
  background-color: #e65c50; /* Cor de fundo ao clicar */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .quantity-block input {
    width: 40px;
    font-size: 14px;
  }

  .quantity-block button {
    width: 25px;
    height: 25px;
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .quantity-block {
    flex-direction: column;
    width: 100%;
  }

  .quantity-block button {
    width: 70%;
    border-radius: 3px; /* Remove bordas arredondadas para melhor alinhamento */
  }

  .quantity-block input {
    width: 100%;
    margin: 5px 0;
  }
}
/* css GERAL */
.descricao-compras{
  width: 100%;
  font-size: 20px;
  /* line-height: 1.6; */
  padding: 20px;
  background-color: #FFF;
  color: #A8895B;
    /* box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5); */
  margin-top: 20px;
  
}

.header-component-compras {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: #053114;
  position: fixed;
  z-index: 1000;
}



.btnCadastro-compras, .btnLogar-compras {
  border: none;
  border-radius: 15px;
  background-color: #A8895B;
  padding: 10px 20px;
  color: #800020;
  cursor: pointer;
  margin: 0 10px;
}

.btnCadastro-compras:hover, .btnLogar-compras:hover {
  background-color: #C0A36E;
}

.content-compras {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 20px 0;
  z-index: 500;
  background-image: url('../../assets/wallpaper.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.quemSomos {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 60%;
  font-size: larger;
  padding: 18px;
  background-color: #ffffff;
  color: #A8895B;
  /* border-radius: 15px; */
  /* box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5); */
  margin-bottom: 14px; 
  margin-top: 14px;
  justify-content: baseline;
  width: 70%;
  font-size: medium; 
  padding: 12px;
  margin-bottom: 10px;
}

.produto-container-compras {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex-direction: column; /* Altera para coluna */
  align-items: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 150px;
  max-width: 900px;
  width: 100%;
}

.produto-info-compras {
  width: 100%;
  margin-top: 20px;
}
.valores{
  display: grid;
  align-items: center;
}
.produto-imagem-compras {
  width: 50%;
    height: auto;
  border-radius: 15px;
  margin-right: 200px;
}



.produto-info-compras h1 {
  font-size: 28px;
  color: #053114;
  margin-bottom: 10px;
}

.preco-compras {
  font-size: 24px;
  color: #800020;
  margin-bottom: 10px;
}

.preco-parcelado-compras {
  font-size: 18px;
  color: #A8895B;
  margin-bottom: 10px;
}

.frete-compras {
  font-size: 16px;
  color: #053114;
  margin-bottom: 20px;
}

.btnComprar-compras {
  border: none;
  border-radius: 15px;
  background-color: #007bff;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.btnComprar-compras:hover {
  background-color: #d3a123;
}

.footer-component-compras {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #053114;
  color: #A8895B;
  margin-top: auto;
}

.quemSomos {
  width: 100%;
  font-size: 18px;
  /* line-height: 1.6; */
  padding: 20px;
  background-color: #FFF;
  color: #A8895B;
    /* box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5); */
  margin-top: 20px;
}
/* fac */
.faq-section {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  margin-top: 20px;
  width: 80%; /* Adjust the width to occupy more space */
  margin: 0 auto; /* Center the FAQ section */
}

.faq-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  border: none;
}

.faq-question {
  font-size: 18px;
  color: #053114;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 3px;
  border: none;
}

.faq-answer {
  font-size: 16px;
  color: #800020;
  padding: 10px;
  background-color: #ffffff;
  border: none;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .faq-section {
    width: 100%; /* Make sure the FAQ section takes up full width on mobile */
  }
  
  .faq-question, .faq-answer {
    padding: 8px; /* Adjust padding for smaller screens */
    font-size: 16px; /* Adjust font size for smaller screens */
  }


  .logo-compras {
    height: 200px;
    position: relative;
  }

  .btnCadastro-compras, .btnLogar-compras {
    width: auto;
    padding: 8px 12px;
    font-size: 12px;
  }

  .produto-container-compras {
    flex-direction: column; /* Mantém a FAQ abaixo das informações principais */
  }

  .produto-imagem-compras,
  .produto-info-compras {
    width: 100%; /* Mantém ambos ocupando toda a largura */
    margin-bottom: 20px; /* Espaçamento entre a imagem e as informações do produto */
  }


  .produto-info-compras {
    width: 100%;
    margin-top: 20px;
  }
  .descricao-compras{
    width: 100%;
    font-size: 20px;
    /* line-height: 1.6; */
    padding: 20px;
    background-color: #FFF;
    color: #A8895B;
      /* box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5); */
    margin-top: 20px;
  }

  .produto-info-compras h1 {
    font-size: 20px;
  }

  .preco-compras {
    font-size: 16px;
  }

  .preco-parcelado-compras {
    font-size: 14px;
  }

  .frete-compras {
    font-size: 12px;
  }

  .btnComprar-compras {
    padding: 10px 20px;
    font-size: 16px;
    display: grid;
    align-items: center;
  }

  .quemSomos {
    font-size: 16px;
  }
}
