.footer-component-css {
    border: #467459;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%; 
    background-color: #467459;
    margin-top: 100px;
    z-index: 1000;
    font-size: 25px;
  }
  #directResponse{
    font-size: 20px;
  }
@media only screen and (max-width: 480px) {
    .footer-component-home {
        height: 120px; 
        flex-direction: column; 
        text-align: center; 
        font-size: 13px;
      }
}