.footer-component-css {
  display: flex;
  justify-content: space-between; /* Espaça os itens para as extremidades */
  align-items: center;
  padding: 20px 40px; /* Adiciona espaçamento interno */
  background-color: #467459;
  color: #000;
  margin-top: 100px;
  font-size: 18px;
  width: 100%;
  /* position: fixed; Fixa o footer na tela */
  /* bottom: 0; Fixa na parte inferior */
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ocupa toda a largura disponível */
}


.footer-icon {
  font-size: 30px;
  margin-right: 20px; /* Espaço entre os ícones sociais */
}

.sac-info {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaçamento entre os itens de SAC e pagamento */
}

.sac-info p {
  margin: 0;
  font-size: 18px;
}

#company-info {
  text-align: center;
  font-size: 16px;
  margin-left: 290px;
  line-height: 1.5;
}

#directResponse {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

@media only screen and (max-width: 480px) {
  .footer-component-css {
      flex-direction: column;
      text-align: center;
      padding: 20px;
  }

  .footer-icons {
      flex-direction: column;
  }

  .sac-info {
      flex-direction: column;
      gap: 10px; /* Ajusta o espaçamento para telas menores */
  }
}